<a href="https://colab.research.google.com/github/evanstrait/DAFT_1022/blob/main/Module_1/Lab_25_Lambda-Functions/Lab_25_Lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [ ]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    
    return list(map(lmbda, lst))

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [ ]:
lmbda = (lambda x: x + 273.15)

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [ ]:
temps = [12, 23, 38, -55, 24] 
temps_k = [lmbda(x) for x in temps]
print(temps_k)

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [ ]:
mod = lambda x, y: 1 if y % x == 0 else 0

mod(2, 6)

1

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [ ]:
def divisor(a):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    
    return lambda y: mod(a, y)

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [ ]:
divisible5 = divisor(5)

Test your function with the following test cases:

In [ ]:
divisible5(10)

1

In [ ]:
divisible5(8)

0

# Bonus Challenge - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [ ]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.


l = [1,2,3,4,5]
[x for x in (l)]

[1, 2, 3, 4, 5]

Using the `zip` function, let's iterate through two lists and add the elements by position.

In [ ]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']
zipped = zip(list1,list2)
list(zipped)

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

In [ ]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']
for i, j in zip(list1, list2):
    print(i, j)

Green eggs
cheese cheese
English cucumber
tomato tomato

# Bonus Challenge - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [ ]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

list3 = list(zip(list1, list2))
sorting = sorted(list3, key = lambda x: x[1])
print(sorting)

[('Political Science', 'Essay'), ('Computer Science', 'Homework'), ('Engineering', 'Lab'), ('Mathematics', 'Module')]

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [ ]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}
var = {k : v for k, v in sorted(d.items(), key = lambda x: x[1])}
print(var)

{'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}