<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv('./data/Orders.csv')
orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# Aggregate amount_spent for unique customers
cust_spend = orders.groupby('CustomerID')['amount_spent'].sum()
cust_spend

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [9]:
# VIP customers
cust_vip = list(cust_spend[cust_spend >= cust_spend.quantile(.95)].index)
cust_vip

[12346,
 12357,
 12359,
 12409,
 12415,
 12428,
 12431,
 12433,
 12435,
 12451,
 12471,
 12472,
 12474,
 12476,
 12477,
 12536,
 12540,
 12557,
 12567,
 12583,
 12590,
 12621,
 12626,
 12637,
 12678,
 12681,
 12682,
 12683,
 12705,
 12709,
 12731,
 12744,
 12748,
 12753,
 12757,
 12766,
 12798,
 12830,
 12901,
 12921,
 12931,
 12939,
 12971,
 12980,
 12989,
 13001,
 13018,
 13027,
 13078,
 13081,
 13089,
 13090,
 13093,
 13097,
 13098,
 13102,
 13113,
 13199,
 13209,
 13225,
 13263,
 13316,
 13319,
 13324,
 13340,
 13408,
 13418,
 13458,
 13488,
 13534,
 13576,
 13629,
 13668,
 13694,
 13709,
 13767,
 13777,
 13798,
 13854,
 13871,
 13881,
 13969,
 13985,
 14031,
 14051,
 14056,
 14057,
 14060,
 14062,
 14088,
 14096,
 14101,
 14156,
 14194,
 14258,
 14298,
 14367,
 14415,
 14505,
 14527,
 14606,
 14607,
 14646,
 14667,
 14680,
 14733,
 14735,
 14769,
 14796,
 14849,
 14866,
 14895,
 14911,
 14936,
 14944,
 14952,
 14961,
 15005,
 15023,
 15039,
 15044,
 15061,
 15078,
 15098,
 15125,
 15144,
 15159,
 15189,
 15194,
 15249,
 15251,
 15290,
 15311,
 15358,
 15382,
 15465,
 15482,
 15498,
 15502,
 15513,
 15601,
 15615,
 15640,
 15694,
 15749,
 15769,
 15838,
 15856,
 15939,
 16000,
 16013,
 16029,
 16033,
 16126,
 16133,
 16180,
 16182,
 16187,
 16210,
 16333,
 16353,
 16422,
 16446,
 16523,
 16525,
 16532,
 16558,
 16652,
 16656,
 16672,
 16684,
 16705,
 16713,
 16729,
 16745,
 16746,
 16779,
 16814,
 16839,
 16843,
 16873,
 16923,
 17017,
 17107,
 17139,
 17243,
 17306,
 17315,
 17338,
 17340,
 17381,
 17389,
 17396,
 17404,
 17416,
 17428,
 17450,
 17509,
 17511,
 17581,
 17675,
 17677,
 17706,
 17735,
 17811,
 17841,
 17857,
 17865,
 17949,
 18055,
 18092,
 18102,
 18109,
 18139,
 18172,
 18223,
 18229]

In [5]:
# Preferred customers
cust_pref = list(cust_spend[(cust_spend < cust_spend.quantile(.95)) & (cust_spend >= cust_spend.quantile(.75))].index)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [6]:
#df[df['Combo Type'].isin(top5)].groupby('Combo Type').mean()
#cust_spend = orders.groupby('CustomerID')['amount_spent'].sum()

country_vip = orders[orders['CustomerID'].isin(cust_vip)].groupby('Country').agg({'CustomerID': 'nunique'})['CustomerID'].sort_values(ascending = False)
print(country_vip)
# country_vip.index[0]
country_vip.idxmax()
# United Kingdom with 177 VIP customers

Country
United Kingdom     177
Germany             10
France               9
Switzerland          3
Spain                2
Portugal             2
Australia            2
EIRE                 2
Japan                2
Finland              1
Belgium              1
Netherlands          1
Norway               1
Denmark              1
Singapore            1
Cyprus               1
Sweden               1
Channel Islands      1
Name: CustomerID, dtype: int64

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [7]:
country_vippref = orders[(orders['CustomerID'].isin(cust_vip)) | (orders['CustomerID'].isin(cust_pref))].groupby('Country').agg({'CustomerID': 'nunique'})['CustomerID'].sort_values(ascending = False)
print(country_vippref)
country_vippref.idxmax()
# United Kingdom with 932 VIP + Preferred customers

Country
United Kingdom     932
Germany             39
France              29
Belgium             12
Switzerland          9
Spain                9
Portugal             7
Norway               7
Italy                5
Finland              5
Japan                4
Australia            4
Cyprus               4
Channel Islands      4
Austria              3
EIRE                 3
Denmark              3
Sweden               2
Israel               2
Iceland              1
Greece               1
Lebanon              1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Name: CustomerID, dtype: int64

'United Kingdom'